<div class="container">
  <div class="header">
    @if(creatingCategory) {
      <input type="text" placeholder="Nueva categoría" [(ngModel)]="newCategory">
      <button (click)="createCategory()">Guardar</button>
    } @else {
      <button (click)="setCreatingCategory()">Nueva categoría</button>
    }
  </div>
  <div class="tabs">
    @for(category of categories; track category) {
      <div class="tab" [class.active]="category.name === currentCategory!.name" (click)="changeCategory(category)">{{ category.name }}</div>
    }
  </div>
  <div class="table-container">
      <div class="table-header">
        <div>Disponible</div>
          <div>Nombre</div>
          <div>Descripción</div>
          <div>URL imagen</div>
          <div>Precio</div>
          <div>Acciones</div>
      </div>
      @for(food of filteredFoods; track food.name) {
        @if(!food.editing) {

          <div class="table-row">
            <input type="checkbox" [checked]="food.available" disabled>
            <div>{{ food.name }}</div>
            <div>{{ food.description }}</div>
            <div><a [href]="food.imageUrl" target="_blank">{{ food.imageUrl }}</a></div>
            <div>{{ food.price }}</div>
            <div>
              <button class="edit-button" (click)="edit(food)">Editar</button>
              <button class="delete-button" (click)="delete(food)">Borrar</button>
            </div>
          </div> 
        } @else {

          <div class="table-row">
            <input type="checkbox" [(ngModel)]="food.available">
            <input type="text" [(ngModel)]="food.name">
            <input type="text" [(ngModel)]="food.description">
            <input type="text" [(ngModel)]="food.imageUrl">
            <input type="number" [(ngModel)]="food.price">
            <div>
              <button class="edit-button" (click)="save(food)">Guardar</button>
              <button class="delete-button" (click)="cancel(food)">Cancelar</button>
            </div>
          </div>
        }
      }
  </div>
  <div class="footer">
    <button (click)="addNewRow()">Nueva fila</button>
    <button class="delete-button" (click)="deleteCategory()">Eliminar categoría</button>
  </div>
</div>